*{
    margin: 0;
    padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&family=Uchen&display=swap');


body{
 /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#d2ebf9+13,feffff+100 */
background: #d2ebf9; /* Old browsers */
background: -moz-linear-gradient(left,  #d2ebf9 13%, #feffff 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #d2ebf9 13%,#feffff 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #d2ebf9 13%,#feffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2ebf9', endColorstr='#feffff',GradientType=1 ); /* IE6-9 */

font-family: 'Roboto', sans-serif;
overflow: hidden;


}
header{
    
    width: 100%;
    height:100px;
    color: white;

}

.menu_hamburguesa{
    display: none;
}
img{
    border-radius: 10px;
    margin: 10px;
}



nav{ 
    margin:  auto;
    padding: 20px;
    width:800px;
    height: 70px;
    
}


nav ul{
    list-style: none;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav ul a{
    color: black;
    text-decoration: none;
    padding: .9rem;
}

nav ul a:hover {
    background-color: black;
    color: white;
    border-radius: 10px;

}
nav ul ul {
    display: none;
}

nav ul li:hover ul{
    display: block;
    position: relative;
    top:20px
}




/*  main */
 main{
    width: 100%;
    height: 650px;
    
   
 }

 footer{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    
 }

 .contenedor_perfil{
    width: 85%;
    margin: auto; 
    display: flex;
    justify-content: center;;
    align-items: center;
}

 .contenedor_perfil .texto{
    width: 500px;

}







.foto_perfil{
    width :500px;
    margin-left: 0;
    margin-top: -50px;
    
}

.fondo_color{
    position: absolute;
    background-color: #FF0099;
    border-radius: 30% 70% 70% 30% / 35% 45% 55% 65%;
    background-image: linear-gradient(45deg,#3023AE 0%,#FF0099 100%);
    width: 1000px;
    height: 1000px;
    z-index: -1;
    margin-left: 800px;
    margin-top: -500px;
    transform: rotatex(45deg)
   

}
.foto_movil{
    display: none;
}



.fondo_foto_perfil{

    margin-top -300px;
    margin-left 550px;
    position absolute;
    width: 600px;
    height:600px;
    
    
    
    background-image: url(../assets/img/perfil.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    

}


.redes{
    padding: 10px 20px;  
}

.redes img{
    margin-right 20px;
}




/*  about*/
.contenedor_seccion{
    margin: auto;
    width: 1050px;
    display:flex;
    justify-content: space-between;
    text-align: justify;
    align-items: center;
    
}
.seccion_1{
    padding: 20px;
    width: 300px;
    display: block;
    
}
.seccion_2{
    display: block;
    background-image: url(../assets/img/perfil.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 30px;
    width: 400px;
    height: 500px;

}
.seccion_3{
    display: block;
    padding: 20px;
    width: 300px;

}




@media (max-width: 600px) {
    
}



@keyframes texto {
    0%{ margin-right:100px;}
    25%{width: 900px;}
    50%{width: 1000px;}
    75%{width: 1200px;}
    100%{width: 1500px;}
    
}






.gallery{
    width: 90%;
    margin:auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;

}

.gallery img{
    border-radius: 10px;
    margin: auto;
}

.img1{
    background-color: #123456;
    grid-column: 1;
    grid-row: 1 / 4;
    justify-items: center;
    height: 500px;
    background-image: url("../assets/img/exhibidorpintura.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10px;

}
.img2{
    background-color: #2080e0;
    grid-column: 2 / 2;
    grid-row: 1;
    text-align: center;
    background-image: url("../assets/img/10.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    
}
.img3{
    background-color: #205612;
    
    grid-column: 3  / 3;
    grid-row: 1 / 3;
    background-image: url("../assets/img/6.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    
}
.img4{
    background-color: #123456;
    grid-column: 4 / 4;
    grid-row: 1 /3;
    background-image: url("../assets/img/8.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    
}
.img5{
   background-color: #4c5612;
    grid-column: 2 / 2;
    grid-row: 2 / 4 ;
    background-image: url("../assets/img/11.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
   
}
.img6{
    background-color: #156656;
    grid-column: 3 / 5;
    grid-row: 3;
    background-image: url("../assets/img/Dulce\ celestial2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}


.contenedor{
    display :flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
}
.datos_personales{
    width: 300px;
}

fotos{
    width: 300px;
    height: 500px;
    border: 1px solid #123456;
    border-radius: 10px;
    margin: 0 30px;
    background-image: url("../assets/img/perfil.png");
    background-position: center;
    background-size: cover;
}
.fotos1{
    width: 100%;
}

.info{
    width: 300px;
}


.contenedor_experience{
    display: flex;
    justify-content: space-between;

    
    
}








.contact{
    margin: auto;
    text-align: center;
}



.formulario{
    width: 800px;
    margin: auto;
 
  padding: 20 20;
  border-radius: 15px;
  margin-top: 30px;
  
}
input{
    width: 300px;
    height: 40px;
    border-radius: 7px;
    margin: 10px auto;
    text-decoration: none;
    border: none;
}

footer{
    width: 100%;
    text-align: center;
    font-size: 10px;
           
       }


@media (max-width: 600px) {

    nav ul{
        display: none;
    }

    .menu_hamburguesa{
        display: block;
        position: absolute;
        margin-top: 30px;
        margin-right: 0;
        cursor: pointer;
    }

    .gallery{
        width: 98%;
        margin: 20px auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
        gap: 10px;
    
    }
    
    .gallery img{
        border-radius: 10px;
        margin: auto;
    }
    
    .img1{
        background-color: #123456;
        grid-column: 1;
        grid-row: 1 / 4;
        justify-items: center;
        height: 300px;
                
        
        
    }
    .img2{
        background-color: #2080e0;
        grid-column: 2 ;
        grid-row: 1;
        
        
    }
    .img3{
        background-color: #205612;
        grid-column: 2 ;
        grid-row: 2 / 3;
    }
    .img4{
        background-color: #123456;
        grid-column: 1;
        grid-row: 4;
        
    }
    .img5{
       background-color: #4c5612;
        grid-column: 2;
        grid-row: 3 / 5;
        
    }
    .img6{
        background-color: #156656;
        grid-column: 1 / 3;
        grid-row: 5;  
    }

    

    .foto_perfil{
        width: 200px;
    }



    }


/*
aside{
    background-color: black;
    padding: 30px;
    color: white;
}
.galeria{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;

    justify-content:center;
    
    
}

img{
    opacity:.4;
     
}
img:hover{
    opacity:1;
    border: px solid white;
     
}











footer{
    width: 100%;
    height: 200px;
    background-color: rgb(25, 25, 25 , 0.8);
}